@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark: #1A1A1A;
  --color-dark-compose: #2A2A2A;
  --color-light: #F9F9DF;
  --color-light-hover: #F5F5C8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: #1A1A1A;
  --color-dark-compose: #2A2A2A;
  --color-light: #F9F9DF;
  --color-light-hover: #F5F5C8;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
}
